

.candle {
  position: absolute;
  background-color: #7B020B;
  width: 10px;
  height: 60px;
  border-radius: 8px / 4px;
  top: -25px;
  left: 50%;
  margin-left: -8px;
  z-index: 10;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 8px;
    border-radius: 50%;
    background-color: lighten(#7B020B, 10%);
  }
}

.flame {
  position: absolute;
  background-color: orange;
  width: 12px;
  height: 30px;
  border-radius: 10px 10px 10px 10px / 25px 25px 10px 10px;
  top: -34px;
  left: 50%;
  margin-left: -7.5px;
  z-index: 10;
  box-shadow:
    0 0 10px rgba(orange, 0.5),
    0 0 20px rgba(orange, 0.5),
    0 0 60px rgba(orange, 0.5),
    0 0 80px rgba(orange, 0.5);
  transform-origin: 50% 90%;
  animation: flicker 1s ease-in-out alternate infinite;
}

.wick {
  position: absolute;
  top: -5px;
  left: 50%;
  width: 1px;
  height: 8px;
  background-color: lighten(#7B020B, 50%);
}


@keyframes flicker {
  0% {
    transform: skewX(5deg);
    box-shadow:
      0 0 10px rgba(orange, 0.2),
      0 0 20px rgba(orange, 0.2),
      0 0 60px rgba(orange, 0.2),
      0 0 80px rgba(orange, 0.2) }
  25% {
    transform: skewX(-5deg);
    box-shadow:
      0 0 10px rgba(orange, 0.5),
      0 0 20px rgba(orange, 0.5),
      0 0 60px rgba(orange, 0.5),
      0 0 80px rgba(orange, 0.5) }
  50% {
    transform: skewX(10deg);
    box-shadow:
      0 0 10px rgba(orange, 0.3),
      0 0 20px rgba(orange, 0.3),
      0 0 60px rgba(orange, 0.3),
      0 0 80px rgba(orange, 0.3) }
  75% {
    transform: skewX(-10deg);
    box-shadow:
      0 0 10px rgba(orange, 0.4),
      0 0 20px rgba(orange, 0.4),
      0 0 60px rgba(orange, 0.4),
      0 0 80px rgba(orange, 0.4) }
  100% {
    transform: skewX(5deg);
    box-shadow:
      0 0 10px rgba(orange, 0.5),
      0 0 20px rgba(orange, 0.5),
      0 0 60px rgba(orange, 0.5),
      0 0 80px rgba(orange, 0.5) }
}


